<?xml version="1.0" encoding="utf-8" standalone="no"?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
			  <session-factory>
			    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			    <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
			    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
          <!--
          LocalHost:
          <property name="connection.connection_string">
            Data Source=(local)\sqlexpress;Initial Catalog=WenSharkGennhibernate;User Id=nhibernateUser;Password=nhibernatePass;
          </property>
          -->
          <!--Desde casa:-->
          <property name="connection.connection_string">
            Data Source=tcp:u8epazazac.database.windows.net,1433;Database=WensharkDB;User ID=wenwen@u8epazazac;Password=Carrillo10!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;
          </property>
          
          <!-- Produccion: 
          
          <property name="connection.connection_string">
            Data Source=tcp:u8epazazac.database.windows.net,1433;Initial Catalog=WensharkDB;User ID=wenwen@u8epazazac;Password=Carrillo10!
          </property>
          -->
            <property name="proxyfactory.factory_class">
			      NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu
			    </property>
			    
			    <property name="show_sql">true</property> 
			  </session-factory>
			</hibernate-configuration>
