#dropDownUserMenu, #dropDownSignIn, #dropDownSignUp {
    margin-top: -50px;
    top: 0;
    z-index: 1000;
}

#dropDownSignIn input, #dropDownSignUp input {
    margin-bottom: 10px;
}

#dropDownSignUp input.ng-invalid.ng-dirty {
    background-color: #F1787E;
}

#dropDownSignUp input.ng-valid.ng-dirty {
    background-color: #78FA89;
}
