/* Some styling for lists of items, etc */

.section-container div.content {
	z-index: 0 !important;
	margin-top: 0 !important;
}

ul.items-list {
	list-style: none;
	z-index: 0;
}

ul.items-list li.active {
	box-shadow: 0 0 6px 1px rgba(118,180,0,0.5);
}

ul.items-list li .subname{
	color: rgb(111, 111, 111);
	margin: 0;
}

ul.items-list li .name {
	color: #76b400;
	margin-bottom: 0.2em;
	font-weight: bold;
}

ul.items-list li a,  ul.items-list li {
	width: 100%;
}