/* Styles for the playlist */

ul.playlist li {
	text-align: center;
	border: none;
	background-color: white;

	padding: 0.5%;

	margin-right: 0.2%;
}

ul.playlist li:hover {
	background-color: rgb(118, 180, 0);
}

ul.playlist li img {
	display: inline-block;
}

ul.playlist li .playlist-data p {
	margin-bottom: 0;
	max-width: 60px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	color: black;

	font-size: 0.8em;
}

ul.playlist li .playlist-name {
	font-weight: bold;
}

ul.playlist li .playlist-artist {
	
}