/* ============================================================================================================================
== BUBBLE WITH A RIGHT-ANGLED TRIANGLE
** ============================================================================================================================ */

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.timeline-item {
	position: relative;
	padding: 15px;
	margin: 12px 0 36px 40px;

	color: #fff;
	background: #ccc; /* default background for browsers without gradient support */
	box-shadow: 2px 2px 1px #aaa;

	display: inline-block;
}


/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.timeline-item:after {
	content: "";

	position: absolute;
	top: 25px;
	left: -38px; /* controls horizontal position */
	bottom: auto; /* value = - border-top-width - border-bottom-width */

	border-width: 30px 40px 0 0; /* vary these values to change the angle of the vertex */
	border-style: solid;
	border-color: transparent #ccc; 
	box-shadow: 0 2px #aaa;
}