/* ============================================================================================================================
== BUBBLE WITH A RIGHT-ANGLED TRIANGLE
** ============================================================================================================================ */

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.timeline-item {
	position: relative;
	padding: 10px;
	margin: 12px 0 36px 50px;
	
	color: #fff;
	background: #ccc; /* default background for browsers without gradient support */
	box-shadow: 2px 2px 1px #aaa;

	display: inline-block;
}


/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.timeline-item:after {
	content: "";

	position: absolute;
	bottom: 0px;
	left: -38px; /* controls horizontal position */

	border-width: 30px 40px 0 0; /* vary these values to change the angle of the vertex */
	border-style: solid;
	border-color: transparent #ccc; 
	box-shadow: 0 2px #aaa;
}

.timeline-item p {
	display: inline-block;
	margin-bottom: 0px;
	margin-left: 5px;
}

.timeline-item .user, .timeline-item .song {
	color: #76b400;
	font-weight: bold;
}

.timeline-item .artist {
	color: #aaa;
	font-style: italic;
}

.timeline-item .artist:hover {
	text-decoration: underline;
}

.timeline-item .quote {
	margin: 0 0 5px 5px;
	font-size: 26px;
}
.timeline-item .quote:before {
	content: '"';
}
.timeline-item .quote:after {
	content: '"';
}

.timeline-item .timeline-song-img {
	position: relative;
}

.timeline-item .timeline-song-img:hover .timeline-song-hover {
	display: block;
}

.timeline-item .timeline-song-hover {
	cursor: pointer;

	position: absolute;

	display: none;

	background-color: rgb(118,180,0);

	width: 2em;
	height: 2em;

	border-radius: 2em;

	top: 0.6em;
	right: 0.6em;
}

.timeline-item .timeline-song-hover .timeline-song-play {
	position: relative;
}

.timeline-item .timeline-song-hover .play {
	position: absolute;

	top: 0.7em;
	left: 0.7em;
}
