<!-- Partial view for the items' search -->
<div class="panel">
	<div class="row playlistDiv">
        <h1 class="fav-header large-8 columns">Favoritos</h1>
        <ul class="fav-buttons button-group radius collapse large-4 columns" ng-show="favorites.length">
            <li><a class="button" ng-click="addListToPlaylist(favorites)"><span class="foundicon-plus"></span></a></li>
        	<li><a class="button" ng-click="addListToPlaylistAndPlay(favorites)"><span class="play"></span></a></li>
        </ul>
    </div>

	<div class="content">
		<ul class="items-list" ng-show="favorites.length">
			<li class="song-thumb row th" ng-repeat="song in favorites" ws-song></li>
		</ul>

			<h2 class="subheader" ng-show="!favorites.length">No se han encontrado canciones :(</h2>
	</div>
</div>