<!-- Formulario de registro -->

<form ng-controller="SignInCtrl" ng-submit="signin()">
    <div class="row">
        <div class="large-12 columns">
            <div class="row collapse">
                <div class="small-6 columns">
                    <a class="button tiny scundary" onclick="loginGoogle()">Google Login</a>
                </div>
                <div class="small-6 columns">
                    <a class="button tiny scundary" data-reveal-id="modalSignUp">Facebook Login</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <ul class="side-nav"><li class="divider"></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <label>User name</label>
            <input type="text" placeholder="User name" ng-model="userlogin.username">
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <label>Password</label>
            <input type="password" placeholder="password" ng-model="userlogin.passw">
        </div>
    </div>
    <div class="row">
        <input class="button small right disable" type="submit" value="Login" />
    </div>
</form>
