<!-- Main partial view (from the old index) -->

<!-- Content Slider -->
<br />
<div class="row">
	<div id="featured">
		<img src="img/1200x500.Slide_Image.gif" alt="slide image" />
	</div>
</div>

<!-- End Content Slider -->

<br />
	<div class="row">
    <div class="large-12 columns">
      	<div class="row">
        	<!-- Shows -->
        	<div class="large-4 small-6 columns">
        		<h4>Upcoming Shows</h4><hr>

		        <div class="hide-for-small">
		            <div class="row">
		              	<div class="large-1 column">
		                	<img src="img/50x50.Img.gif">
		              	</div>

		              	<div class="large-9 columns">
		                	<h5 class="subheader"><a href="#">Venue Name</a></h5>
		              	</div>
		            </div><hr />

		            <div class="row">
		              	<div class="large-1 column">
		                	<img src="img/50x50.Img.gif" />
		              	</div>

		              	<div class="large-9 columns">
		                	<h5 class="subheader"><a href="#">Venue Name</a></h5>
		              	</div>
		            </div><hr>

		            <div class="row">
		              	<div class="large-1 column">
		                	<img src="img/50x50.Img.gif" />
		              	</div>

		              	<div class="large-9 columns">
		                	<h5 class="subheader"><a href="#">Venue Name</a></h5>
		              	</div>
		            </div>
		        </div>
    		</div>
        	<!-- End Shows -->


        	<!-- Image -->
        	<div class="large-4 small-6 columns">
        		<img src="img/300x465.Slide_Image.gif" />
        	</div>
			<!-- End Image -->

        	<!-- Feed -->
        	<div class="large-4 small-12 columns">
          		<h4>Blog</h4><hr>
          		<div class="panel">
            		<h5><a href="#">Post Title 1</a></h5>

            		<h6 class="subheader">
              			Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Suspendisse ultrices ornare tempor...
            		</h6>

            		<h6><a href="#">Read More »</a></h6>
          		</div>

          		<div class="panel hide-for-small">
            		<h5><a href="#">Post Title 2 »</a></h5>
          		</div>

          		<div class="panel hide-for-small">
            		<h5><a href="#">Post Title 3 »</a></h5>
          		</div>

          		<a href="#" class="right">Go To Blog »</a>
        	</div>
        	<!-- End Feed -->
      	</div>
    </div>
</div>

<br />
