<!-- Partial view for the items' search -->
<div class="panel" ng-controller="PlayListCtrl">
    <div class="row playlistDiv">
        <h1 class="large-8 columns">
            <span class="subheader" ng-hide="editing">{{listName}}</span>
            <form ng-submit="editPlaylist()">
                <input id="inputNewName" type="text" ng-show="editing" ng-model="newName" placeholder="{{listName}}" />
            </form>
        </h1>
        <ul class="button-group radius collapse large-4 columns">
            <li>
                <a class="button" ng-click="startEdit()"><span  class="foundicon-edit"></span></a>
            </li>
            <li>
                <a class="button" ng-click="removePlayList()"><span class="foundicon-remove"></span></a>
            </li>
            <li>
                <a class="button" ng-click="playPlaylist()"><span class="play"></span></a>
            </li>
        </ul>
    </div>
    <div ng-show="loading">
        <img class="center" src="/Assets/img/spinner.gif" width="200" height="30" />

    </div>
    <div class="content small" data-section ng-hide="loading">
        <div class="content">
            <ul class="items-list" ng-show="songs.length">
                <li class="song-thumb row th" ng-repeat="song in songs" ws-song></li>
            </ul>
        </div>
    </div>
</div>
