<div class="panel">
	<div ng-show="loading">
		<h2 class="center">Cargando perfil...</h2>
		<img class="center" src="/Assets/img/spinner.gif" width="200" height="30" />
	</div>	

	<div class="row" ng-hide="loading">
		<span class="small-3 columns left">
			<div class="img">
				<img src="{{user.Image}}" width="200" />
				<div class="img-edit">
					<i class="enclose-icon foundicon-edit" ng-click="editImage()" ng-show="isEditable"></i>
				</div>
			</div>
		</span>
		<span class="small-9 columns">
			<h1 class="name profile-name">
				<span class="name-txt">{{user.Name}}</span>
				<span ng-show="isEditable">
					<i class="foundicon-edit" ng-hide="editingName" ng-click="editName()"></i>
				</span>
			</h1>
			<span class="edit-buttons" ng-show="editingName">
				<i class="foundicon-checkmark check" ng-click="submitEdit()"></i>
				<i class="foundicon-remove cancel" ng-click="cancelEdit()"></i>
			</span>
		</span>
	</div>
</div>