<div class="panel">
	<div ng-show="loading">
		<h2 class="center">Cargando perfil...</h2>
		<img class="center" src="/Assets/img/spinner.gif" width="200" height="30" />
	</div>	

	<div class="row" ng-hide="loading">
		<span class="small-3 columns left">
			<div class="img">
				<img ng-src="{{user.Image}}" width="200" />
				<span ng-show="isEditable">
					<div class="img-edit" ng-hide="editingName">
						<i class="enclose-icon foundicon-edit" ng-click="editImage()"></i>
					</div>
				</span>
			</div>
		</span>
		<span class="small-9 columns">
			<h1 class="name profile-name">
				<span class="name-txt">{{user.Name}}</span>
				<span ng-show="isEditable">
					<span ng-hide="editingImage">
						<i class="foundicon-edit" ng-hide="editingName" ng-click="editName()"></i>
					</span>
				</span>
			</h1>
			<span class="edit-buttons" ng-show="editingName">
				<i class="foundicon-checkmark check" ng-click="submitEditName()"></i>
				<i class="foundicon-remove cancel" ng-click="cancelEditName()"></i>
			</span>

			<div ng-show="editingImage">
				<button class="choose-button" ng-click="chooseImage()">Elige una imagen</button>
				<input class="hidden" id="input-image" type="file" />
				<span class="edit-buttons">
					<i class="foundicon-checkmark check" ng-show="imageToUpload" ng-click="submitEditImage()"></i>
					<i class="foundicon-remove cancel" ng-show="editingImage" ng-click="cancelEditImage()"></i>
				</span>
				<div>
					<img ng-src="{{imageURL}}" width="200" ng-show="imageChosen" />
				</div>
			</div>
		</span>
	</div>
	<ul class="items-list" ng-show="publications.length">
		<div class="timeline-item" ng-repeat="publication in publications" ws-publication></div>
		<br ng-repeat="publication in publications">
	</ul>
</div>