<!-- Formulario de registro -->

<form>

    <div class="row">
      <div class="large-12 columns">
        <label>Full namen</label>
        <input type="text" placeholder="Full Name">
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <label>User name</label>
        <input type="text" placeholder="User name">
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <label>Password</label>
        <input type="password" placeholder="password">
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <label>Confirm password</label>
        <input type="password" placeholder="password">
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <label>Email</label>
        <input type="email" placeholder="email@example.com">
      </div>
    </div>
    <div class="row">
        <a href="#" class="button small right">Register</a>
    </div>
</form>
