<!-- Partial view for the items' search -->
<div class="panel">
	<h1>Resultados de <span class="subheader">{{query}}</span></h1>

	<div ng-show="loading"><img class="center" src="/Assets/img/spinner.gif" width="200" height="30" /></div>

	<div class="section-container auto" data-section ng-show="!loading">
		<section class="section active">
			<p class="title"><a href="">Canciones</a></p>
			<div class="content">
				<ul class="items-list" ng-show="songs.length">
					<li class="song-thumb row th" ng-repeat="song in songs">
						<!-- Picture of the song -->
						<span class="song-img small-1 columns left">
							<img src="{{song.Album.Image}}" width="50" height="50" />
						</span>

						<!-- Name, Artist and Album of the song -->
						<span class="song-name small-6 columns left">
							<p class="name">{{song.Name}}</p>
							<p class="subname">{{song.Artist.Name}} · {{song.Album.Name}}</p>
						</span>

						<!-- Controls -->
						<span class="song-controls small-3 columns right">
							<button class="tiny" ng-click="addToPlaylist(song)"><span class="play"></span></button>
						</span>
					</li>
				</ul>

				<h2 class="subheader" ng-show="!songs.length">No se han encontrado canciones :(</h2>
			</div>
		</section>

		<section class="section">
			<p class="title"><a href="">Artistas</a></p>
			<div class="content">
				<ul class="items-list" ng-show="artists.length">
					<li class="art-thumb row th" ng-repeat="art in artists">
						<a href="/artist/{{art.Id}}">
							<p class="name">{{art.Name}}</p>
						</a>
					</li>
				</ul>

				<h2 class="subheader" ng-show="!artists.length">No se han encontrado artistas :(</h2>
			</div>
		</section>

		<section class="section active">
			<p class="title"><a href="">Albumes</a></p>
			<div class="content">
				<ul class="items-list" ng-show="albums.length">
					<li class="alb-thumb row th" ng-repeat="alb in albums">
						<a href="/album/{{alb.Id}}">
							<p class="name">{{alb.Name}}</p>
						</a>
					</li>
				</ul>

				<h2 class="subheader" ng-show="!albums.length">No se han encontrado albumes :(</h2>
			</div>
		</section>
	</div>
</div>