<!-- Partial view for the items' search -->
<div class="panel">
	<h1>Resultados de <span class="subheader">{{query}}</span></h1>

	<div ng-show="loading"><img class="center" src="/Assets/img/spinner.gif" width="200" height="30" /></div>

	<div class="section-container auto" data-section ng-show="!loading">
		<section class="section active">
			<p class="title"><a href="">Canciones</a></p>
			<div class="content">
				<ul class="items-list" ng-show="songs.length">
					<li class="song-thumb row th" ng-repeat="song in songs" ng-song></li>
				</ul>

				<h2 class="subheader" ng-show="!songs.length">No se han encontrado canciones :(</h2>
			</div>
		</section>

		<section class="section">
			<p class="title"><a href="">Artistas</a></p>
			<div class="content">
				<ul class="items-list" ng-show="artists.length">
					<li class="art-thumb row th" ng-repeat="artist in artists" ng-artist></li>
				</ul>

				<h2 class="subheader" ng-show="!artists.length">No se han encontrado artistas :(</h2>
			</div>
		</section>

		<section class="section active">
			<p class="title"><a href="">Albumes</a></p>
			<div class="content">
				<ul class="items-list" ng-show="albums.length">
					<li class="alb-thumb row th" ng-repeat="album in albums" ng-album></li>
				</ul>

				<h2 class="subheader" ng-show="!albums.length">No se han encontrado albumes :(</h2>
			</div>
		</section>
	</div>
</div>