<!-- Partial view for the items' search -->
<div class="panel">
	<h1>Resultados de <span class="subheader">{{query}}</span></h1>

	<div ng-show="loading"><img class="center" src="/Assets/img/spinner.gif" width="200" height="30" /></div>

	<div class="section-container auto" data-section ng-hide="loading">
		<section class="section active">
			<p class="title"><a href="">Canciones</a></p>
			<div class="content">
				<ul class="items-list" ng-show="songs.length">
					<li class="song-thumb row th" ng-repeat="song in songs" ws-song></li>
				</ul>

				<h2 class="subheader" ng-show="!songs.length">No se han encontrado canciones :(</h2>
			</div>
		</section>

		<section class="section">
			<p class="title"><a href="">Artistas</a></p>
			<div class="content">
				<ul class="items-list" ng-show="artists.length">
					<li class="art-thumb row th" ng-repeat="artist in artists" ws-artist></li>
				</ul>

				<h2 class="subheader" ng-show="!artists.length">No se han encontrado artistas :(</h2>
			</div>
		</section>

		<section class="section active">
			<p class="title"><a href="">Albumes</a></p>
			<div class="content">
				<ul class="items-list" ng-show="albums.length">
					<li class="alb-thumb row th" ng-repeat="album in albums" ws-album></li>
				</ul>

				<h2 class="subheader" ng-show="!albums.length">No se han encontrado albumes :(</h2>
			</div>
		</section>

        <section class="section" ng-hide="hideUserName">
            <p class="title"><a href="">Personas</a></p>
            <div class="content">
                <ul class="items-list" ng-show="users.length">
                    <li class="user-thumb row th" ng-repeat="user in users"  ng-show="users.length" ws-user></li>
                 </ul>
                <h2 class="subheader" ng-show="!users.length">No se han encontrado usuarios :(</h2>
            </div>
        </section>
	</div>
</div>