<!-- Partial view for the items' search -->
<div class="panel">
	<h1>Timeline</h1>	

	<div class="row">
        <div class="large-12 columns">
			
			<ul class="items-list" ng-show="publications.length">
				<div class="timeline-item" ng-repeat="publication in publications" ws-publication></div>
			</ul>

			<div class="timeline-item">
				<img src="http://localhost:5749/Assets/img/albums/reanimation.jpg" width="15" height="15">
				<p><span class="user">Adrian</span> shared this:</p>
				<br>
				<p class="quote">Mirad como mola esto</p>

				<div>
					<img class="left" src="http://localhost:5749/Assets/img/albums/reanimation.jpg" width="50" height="50">
					<div>
						<p class="song">Gold on the no se que</p>
						<p>by <span class="artist">The Black Keys</span></p>
					</div>
				</div>
			</div>
        </div>
    </div>
	

</div>
